# Ignore Python virtual environment
.venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Environment variables
.env
# VSCode settings
.vscode/
# Test and coverage outputs
htmlcov/
.coverage
coverage.xml
.cache/
*.cover
*.py,cover
coverage.txt
